<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <bean name="krossModel" class="mixing.model.KrossEviva"/>
    <bean name="krossFrame" class="mixing.frame.KrossFrame">
        <constructor-arg name="size" value="15"/>
    </bean>
    <bean name="bicycle" class="mixing.Bicycle">
        <property name="model" ref="krossModel"/>
        <property name="frame" ref="krossFrame"/>
    </bean>

</beans>